<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Slyboot 1.0.0{% endblock %}</title>
        {% block stylesheets %}
            <link href="/ui/css/demo-style.css" media="all" rel="stylesheet" type="text/css">
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="/ui/javascripts/app.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="content"></div>
        </div>
       <div id="b-body">
            <div class="content">
                <a href="http://localhost/AppDieng/app-dieng/Slyboot-usage/" target="_blank">Learn more about slyboot !</a>
                <p>
                    Slyboot is a mini php framework developped by Macky Dieng <br>
                    All right reserved &#169; 2015
                </p>
           </div>
       </div>
    </body>
</html>