<a href="#" class="col-sm-6 col-md-4" style="text-decoration:none;">
        <div class="thumbnail">
          <img src="/ui/images/ferrari.jpg" alt="ferrari" class="img-responsive"/>
          <div class="caption">
            <h3>Ferrari idealo</h3>
            <p>lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda</p>
          </div>
        </div>
      </a>
      <a href="#" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/ui/images/ferrari.jpg" alt="ferrari" class="img-responsive"/>
          <div class="caption">
            <h3>Ferrari idealo</h3>
            <p>lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda</p>
          </div>
        </div>
      </a>
      <a href="#" class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/ui/images/ferrari.jpg" alt="ferrari" class="img-responsive"/>
          <div class="caption">
            <h3>Ferrari idealo</h3>
            <p>lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda</p>
          </div>
        </div>
      </a>
