{% extends "news-layout.html.twig" %}

{%block body%}
    <div class="row">
        <div class="col-md-8">
            <img src="/ui/images/ferrari.jpg" alt="ferrari" class="img-thumbnail"/>
        </div>
        <div class="col-md-4">
           <h3 style="margin-top:0px">Ferrari delgamos</h3> 
           <p><b>Prix : </b> 300 000 &euro;</p>
           <p><b>Puissance : </b> 12000 kw</p>
           <p><b>Couple : </b> 3hg 4mk</p>
           <p><b>Vitess Maximale : </b>300 km/h</p>
           <p>lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda</p>
           <p>lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda lorem ipsum delpeiro de lavanda</p> 
        </div>
    </div>
{%endblock%}